| [‚¨ÖÔ∏è Previous Session](practice_3-1_numpy.ipynb) | [üè† Course Home](../index.ipynb) | [‚û°Ô∏è Next Session](practice_5-1_matplotlib.ipynb) |

# Practice 4-1: Pandas üêº


## Part 0. Setup Steps

- Create a repo on GitHub named `eds217-practice-4-1-pandas`
- Clone to create a version-controlled project
- Create some subfolder infrastructure (nbs, data, figs)
- Create and save a new ~~quarto in RStudio called~~ jupyter notebook (`.ipynb` file) named `practice_4-1_pandas.ipynb` in the `nbs` folder.
- Open the notebook in VSCode or jupyter notebook/lab 
- Make sure to associate the notebook with the `eds217_2023` environment.


## üìö  <b> Practice 0. </b> 
    
- Create a cell that imports your essential data science libraries.(`numpy` as `np`, `matplotlib.pyplot` as `plt` and `pandas` as `pd`)

In [35]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


## üìö  <b> Practice 1. </b>

### Import some radiation data for our practice session

Use panda's `read_csv()` function to import the data from github and create a new DataFrame named `bsrn`

```python
data_url = "https://raw.githubusercontent.com/environmental-data-science" \
            "/eds217_2023/main/data/BSRN_GOB_2019-10.csv"
```

In [10]:
bsrn = pd.read_csv("https://raw.githubusercontent.com/environmental-data-science/eds217_2023/main/data/BSRN_GOB_2019-10.csv")

print(bsrn)

                      DATE  H_m  SWD_Wm2  STD_SWD  DIR_Wm2  STD_DIR  DIF_Wm2
0      2019-10-01 00:00:00    2     -3.0      0.0      0.0      0.0     -3.0  \
1      2019-10-01 00:01:00    2     -3.0      0.0      0.0      0.0     -3.0
2      2019-10-01 00:02:00    2     -3.0      0.0      0.0      0.0     -3.0
3      2019-10-01 00:03:00    2     -3.0      0.0      0.0      0.0     -3.0
4      2019-10-01 00:04:00    2     -3.0      0.0      0.0      0.0     -3.0
...                    ...  ...      ...      ...      ...      ...      ...
44635  2019-10-31 23:55:00    2     -2.0      0.0      0.0      0.0     -2.0
44636  2019-10-31 23:56:00    2     -2.0      0.0      0.0      0.0     -2.0
44637  2019-10-31 23:57:00    2     -2.0      0.0      0.0      0.0     -2.0
44638  2019-10-31 23:58:00    2     -2.0      0.0      0.0      0.0     -2.0
44639  2019-10-31 23:59:00    2     -2.0      0.0      0.0      0.0     -2.0

       STD_DIF  LWD_Wm2  STD_LWD  SWU_Wm2  LWU_Wm2  T_degC    RH  P_hPa
0          0.0    300.0      0.1        0      383    16.2  30.7    966
1          0.0    300.0      0.3        0      383    16.4  30.7    966
2          0.0    300.0      0.2        0      383    16.5  30.5    966
3          0.0    300.0      0.1        0      383    16.5  30.4    966
4          0.0    300.0      0.1        0      383    16.8  30.5    966
...        ...      ...      ...      ...      ...     ...   ...    ...
44635      0.0    380.0      0.1        0      423    23.0  35.6    964
44636      0.0    380.0      0.1        0      423    23.1  35.5    964
44637      0.0    380.0      0.1        0      423    23.0  35.3    964
44638      0.0    381.0      0.2        0      423    23.0  35.2    964
44639      0.0    381.0      0.1        0      423    23.1  35.0    964

[44640 rows x 15 columns]

## üìö  Practice 2. Using the DataFrame <code>bsrn</code>:
<ol>
    <li type="a"> Print a list of your DataFrame's column names. </li>
    <li type="a"> How many values are there in the entire DataFrame? </li>
    <li type="a"> What is the data type of the first column? </li>
</ol>

In [12]:
print(bsrn.columns)
print(bsrn.info)
print(bsrn.type)

Index(['DATE', 'H_m', 'SWD_Wm2', 'STD_SWD', 'DIR_Wm2', 'STD_DIR', 'DIF_Wm2',
       'STD_DIF', 'LWD_Wm2', 'STD_LWD', 'SWU_Wm2', 'LWU_Wm2', 'T_degC', 'RH',
       'P_hPa'],
      dtype='object')
<bound method DataFrame.info of                       DATE  H_m  SWD_Wm2  STD_SWD  DIR_Wm2  STD_DIR  DIF_Wm2
0      2019-10-01 00:00:00    2     -3.0      0.0      0.0      0.0     -3.0  \
1      2019-10-01 00:01:00    2     -3.0      0.0      0.0      0.0     -3.0
2      2019-10-01 00:02:00    2     -3.0      0.0      0.0      0.0     -3.0
3      2019-10-01 00:03:00    2     -3.0      0.0      0.0      0.0     -3.0
4      2019-10-01 00:04:00    2     -3.0      0.0      0.0      0.0     -3.0
...                    ...  ...      ...      ...      ...      ...      ...
44635  2019-10-31 23:55:00    2     -2.0      0.0      0.0      0.0     -2.0
44636  2019-10-31 23:56:00    2     -2.0      0.0      0.0      0.0     -2.0
44637  2019-10-31 23:57:00    2     -2.0      0.0      0.0      0.0     -2.0
44638  2019-10-31 23:58:00    2     -2.0      0.0      0.0      0.0     -2.0
44639  2019-10-31 23:59:00    2     -2.0      0.0      0.0      0.0     -2.0

       STD_DIF  LWD_Wm2  STD_LWD  SWU_Wm2  LWU_Wm2  T_degC    RH  P_hPa
0          0.0    300.0      0.1        0      383    16.2  30.7    966
1          0.0    300.0      0.3        0      383    16.4  30.7    966
2          0.0    300.0      0.2        0      383    16.5  30.5    966
3          0.0    300.0      0.1        0      383    16.5  30.4    966
4          0.0    300.0      0.1        0      383    16.8  30.5    966
...        ...      ...      ...      ...      ...     ...   ...    ...
44635      0.0    380.0      0.1        0      423    23.0  35.6    964
44636      0.0    380.0      0.1        0      423    23.1  35.5    964
44637      0.0    380.0      0.1        0      423    23.0  35.3    964
44638      0.0    381.0      0.2        0      423    23.0  35.2    964
44639      0.0    381.0      0.1        0      423    23.1  35.0    964

[44640 rows x 15 columns]>

AttributeError: 'DataFrame' object has no attribute 'type'


## üìö  Practice 3.

<ol>
<li type="a"> Create a new DataFrame containing the first record for each day and the following columns: the timestamp of the record, incoming shortwave radiation, direct and diffuse radiation, and incoming longwave radiation. 
(Hint: the BSRN station collects data every minute). 

<li type="a"> Create a new Series containing the temperature values every hour at the top of the hour.

<li type="a"> Convert the `DATE` column to `datetime` using the `pd.to_datetime()` function.

<li type="a"> Set the `DATE` column as the index of the DataFrame using the `set_index()` method.

</ol>

In [53]:
bsrn = pd.read_csv("https://raw.githubusercontent.com/environmental-data-science/eds217_2023/main/data/BSRN_GOB_2019-10.csv")

In [44]:
bsrn

,DATE,H_m,SWD_Wm2,STD_SWD,DIR_Wm2,STD_DIR,DIF_Wm2,STD_DIF,LWD_Wm2,STD_LWD,SWU_Wm2,LWU_Wm2,T_degC,RH,P_hPa
0,2019-10-01 00:00:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.2,30.7,966
1,2019-10-01 00:01:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.3,0,383,16.4,30.7,966
2,2019-10-01 00:02:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.2,0,383,16.5,30.5,966
3,2019-10-01 00:03:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.5,30.4,966
4,2019-10-01 00:04:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.8,30.5,966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44635,2019-10-31 23:55:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.6,964
44636,2019-10-31 23:56:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.1,35.5,964
44637,2019-10-31 23:57:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.3,964
44638,2019-10-31 23:58:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.2,0,423,23.0,35.2,964
44639,2019-10-31 23:59:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.1,0,423,23.1,35.0,964

In [57]:
bsrn['DATE'] = pd.to_datetime(bsrn['DATE'])
# bsrn.DATE.dt.time
# bsrn['is_first_observation'] = bsrn.DATE.dt.time == bsrn.DATE.dt.time(0)

                     DATE  H_m  SWD_Wm2  STD_SWD  DIR_Wm2  STD_DIR  DIF_Wm2
0     2019-10-01 00:00:00    2     -3.0      0.0      0.0      0.0     -3.0  \
1     2019-10-01 00:01:00    2     -3.0      0.0      0.0      0.0     -3.0
2     2019-10-01 00:02:00    2     -3.0      0.0      0.0      0.0     -3.0
3     2019-10-01 00:03:00    2     -3.0      0.0      0.0      0.0     -3.0
4     2019-10-01 00:04:00    2     -3.0      0.0      0.0      0.0     -3.0
...                   ...  ...      ...      ...      ...      ...      ...
44635 2019-10-31 23:55:00    2     -2.0      0.0      0.0      0.0     -2.0
44636 2019-10-31 23:56:00    2     -2.0      0.0      0.0      0.0     -2.0
44637 2019-10-31 23:57:00    2     -2.0      0.0      0.0      0.0     -2.0
44638 2019-10-31 23:58:00    2     -2.0      0.0      0.0      0.0     -2.0
44639 2019-10-31 23:59:00    2     -2.0      0.0      0.0      0.0     -2.0

       STD_DIF  LWD_Wm2  STD_LWD  SWU_Wm2  LWU_Wm2  T_degC    RH  P_hPa
0          0.0    300.0      0.1        0      383    16.2  30.7    966
1          0.0    300.0      0.3        0      383    16.4  30.7    966
2          0.0    300.0      0.2        0      383    16.5  30.5    966
3          0.0    300.0      0.1        0      383    16.5  30.4    966
4          0.0    300.0      0.1        0      383    16.8  30.5    966
...        ...      ...      ...      ...      ...     ...   ...    ...
44635      0.0    380.0      0.1        0      423    23.0  35.6    964
44636      0.0    380.0      0.1        0      423    23.1  35.5    964
44637      0.0    380.0      0.1        0      423    23.0  35.3    964
44638      0.0    381.0      0.2        0      423    23.0  35.2    964
44639      0.0    381.0      0.1        0      423    23.1  35.0    964

[44640 rows x 15 columns]

In [34]:
# bsrn.iloc[
#     ::60 # get every 60th row whic his every hour on the hour
# ]['T_degC'] # get this column -- single brackets to get a series back

DATE
2019-10-01 00:00:00    16.2
2019-10-01 01:00:00    18.2
2019-10-01 02:00:00    18.0
2019-10-01 03:00:00    17.9
2019-10-01 04:00:00    18.1
                       ...
2019-10-31 19:00:00    27.1
2019-10-31 20:00:00    23.6
2019-10-31 21:00:00    22.7
2019-10-31 22:00:00    22.0
2019-10-31 23:00:00    23.1
Name: T_degC, Length: 744, dtype: float64

In [51]:
# question 3, part D
# bsrn = bsrn.set_index('DATE')   
# print(bsrn)
# or
# bsrn.set_index('DATE', inplace = True)

KeyError: "None of ['DATE'] are in the columns"

## üìö  <b> Practice 4. 
</b> Calculate the mean incoming shortwave, outgoing shortwave, incoming longwave, and outgoing longwave radiation over the entire month.

In [58]:
print(bsrn.SWU_Wm2.mean())
print(bsrn.LWU_Wm2.mean())

110.44500448028674

In [59]:
bsrn

,DATE,H_m,SWD_Wm2,STD_SWD,DIR_Wm2,STD_DIR,DIF_Wm2,STD_DIF,LWD_Wm2,STD_LWD,SWU_Wm2,LWU_Wm2,T_degC,RH,P_hPa
0,2019-10-01 00:00:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.2,30.7,966
1,2019-10-01 00:01:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.3,0,383,16.4,30.7,966
2,2019-10-01 00:02:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.2,0,383,16.5,30.5,966
3,2019-10-01 00:03:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.5,30.4,966
4,2019-10-01 00:04:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.8,30.5,966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44635,2019-10-31 23:55:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.6,964
44636,2019-10-31 23:56:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.1,35.5,964
44637,2019-10-31 23:57:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.3,964
44638,2019-10-31 23:58:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.2,0,423,23.0,35.2,964
44639,2019-10-31 23:59:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.1,0,423,23.1,35.0,964

## üìö  <b> Practice 5. </b>
<ol>
    <li type="a"> Add a column <code style='font-weight:normal'>'NET_SW'</code> to <code style='font-weight:normal'>bsrn</code> with the net shortwave radiation. </li>
    <li type="a"> Add a column <code style='font-weight:normal'>'NET_LW'</code> to <code style='font-weight:normal'>bsrn</code> with the net longwave radiation. </li>
    <li type="a"> Add a column <code style='font-weight:normal'>'NET_RAD'</code> to <code style='font-weight:normal'>bsrn</code> with the net total radiation. 
    
Net radiation is given by the following equation: </li>

$$R^{}_{N} \, = \,  R^{\, \downarrow}_{SW} \, - \,  R^{\, \uparrow}_{SW} \, + \, R^{\, \downarrow}_{LW} \, - \,  R^{\, \uparrow}_{LW}$$
    
where $R^{\, \downarrow}_{SW}$ and $R^{\, \uparrow}_{SW}$ are incoming and outgoing shortwave radiation, respectively, and $R^{\, \downarrow}_{LW}$ and $R^{\, \uparrow}_{LW}$ are incoming and outgoing longwave radiation, respectively.


<li type="a"> Create a new DataFrame with the day of the month and daily mean values of shortwave incoming, shortwave outgoing, longwave incoming, longwave outgoing radiation, and net total radiation. (Hint: use masking!).</li>

```python
# To get you started, here's some example code to create a new dataframe containing each day, and the average incoming shortwave (solar) radiation, avg_SWD (aka SW_in),  and the average outgoing shortwave (solar) radiation, avg_SWU (aka SW_out):

daily_rad = []
for d in bsrn.index.day.unique():
    avg_SWD = bsrn.SWD_Wm2[bsrn.index.day == d].mean()
    avg_SWU = bsrn.SWU_Wm2[bsrn.index.day == d].mean()
    # Append the current day and these two values to our list of daily radiation values:
    daily_rad.append([d, avg_SWD, avg_SWU])

daily_SW = pd.DataFrame(daily_rad, columns=['day', 'SW_in', 'SW_out'])

```
</ol>

In [60]:
# practice
bsrn['NET_SW'] = bsrn['SWD_Wm2'] - bsrn['SWU_Wm2']

bsrn['NET_LW'] = bsrn['LWD_Wm2'] - bsrn['LWU_Wm2']

bsrn['NET_RAD'] = bsrn['NET_SW'] + bsrn['NET_LW']

,DATE,H_m,SWD_Wm2,STD_SWD,DIR_Wm2,STD_DIR,DIF_Wm2,STD_DIF,LWD_Wm2,STD_LWD,SWU_Wm2,LWU_Wm2,T_degC,RH,P_hPa
0,2019-10-01 00:00:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.2,30.7,966
1,2019-10-01 00:01:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.3,0,383,16.4,30.7,966
2,2019-10-01 00:02:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.2,0,383,16.5,30.5,966
3,2019-10-01 00:03:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.5,30.4,966
4,2019-10-01 00:04:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.8,30.5,966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44635,2019-10-31 23:55:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.6,964
44636,2019-10-31 23:56:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.1,35.5,964
44637,2019-10-31 23:57:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.3,964
44638,2019-10-31 23:58:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.2,0,423,23.0,35.2,964
44639,2019-10-31 23:59:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.1,0,423,23.1,35.0,964

In [61]:
# Create a new DataFrame with the day of the month and daily mean values of shortwave incoming, shortwave outgoing, longwave incoming, longwave outgoing radiation, and net total radiation. (Hint: use masking!)

daily_rad = []
for d in bsrn['DATE'].day.unique():
    avg_SWD = bsrn.SWD_Wm2[bsrn['DATE'] == d].mean()
    avg_SWU = bsrn.SWU_Wm2[bsrn['DATE'] == d].mean()
    avg_LWD = bsrn.LWD_Wm2[bsrn['DATE'] == d].mean()
    avg_LWU = bsrn.LWU_Wm2[bsrn['DATE'] == d].mean()
    daily_rad.append([d, avg_SWD, avg_SWU])

daily_SW = pd.DataFrame(daily_rad, columns=['day', 'SW_in', 'SW_out'])

AttributeError: 'Series' object has no attribute 'day'

In [63]:
# ANNA BOSER answer: problem 5, part d
daily_rad = []
for d in bsrn.index.day.unique():
    avg_SWD = bsrn.SWD_Wm2[bsrn.index.day == d].mean()
    avg_SWU = bsrn.SWU_Wm2[bsrn.index.day == d].mean()
    avg_LWD = bsrn.LWD_Wm2[bsrn.index.day == d].mean()
    avg_LWU = bsrn.LWU_Wm2[bsrn.index.day == d].mean()
    avg_NET_RAD = bsrn.NET_SW[bsrn.index.day == d].mean()
    # Append the current day and these two values to our list of daily radiation values:
    daily_rad.append([d, avg_SWD, avg_SWU, avg_LWD, avg_LWU, avg_NET_RAD])

daily_bsrn = pd.DataFrame(daily_rad, columns=['day', 'SW_in', 'SW_out', 'LW_in', 'LW_out'])

AttributeError: 'RangeIndex' object has no attribute 'day'

## üìö  <b> Practice 6. </b> 

<ol> 

<li type="a"> Use a <code>list</code> of <code>list</code>s to construct a DataFrame named <code>df1</code> containing the data in the table below.</li>
    
| River       | Length $(\text{km})$ | Drainage area $(\text{km}^2)$ |
|-------------|----------------------|------------------------------|
| Amazon      | 6400                 | 7,050,000                    |
| Congo       | 4371                 | 4,014,500                    |
| Yangtze     | 6418                 | 1,808,500                    |
| Mississippi | 3730                 | 3,202,230                    |

<ol start=2>
<li type="a"> Use a <code>dict</code> to construct a DataFrame named <code>df2</code> containing the data in the table below.</li>


| River   | Length $(\text{km})$ | Drainage area $(\text{km}^2)$ |
|---------|----------------------|------------------------------|
| Zambezi | 2574                 | 1,331,000                    |
| Mekong  | 4023                 | 811,000                      |
| Murray  | 2508                 | 1,061,469                    |
| Rh√¥ne   | 813                  | 98,000                       |
| Cubango | 1056                 | 530,000                      |


</ol>


<ol start=3>
    <li type="a"> Concatenate <code>df1</code> and <code>df2</code> into a new DataFrame with all 9 rivers.</li>
    <li type="a"> Create a new DataFrame <code>rivers</code> with the discharge, mouth, source, and continent information and add this to your DataFrame from (a) to produce a DataFrame with all of the data in the table below.</li>
</ol>

| River | Length $(\text{km})$ | Drainage area $(\text{km}^2)$ | Discharge $(\text{m}^2/\text{s})$ | Mouth | Source | Continent |
|-------|----------------------|------------------------------|----------------------------------|-------|--------|-----------|
| Amazon | 6400 | 7,050,000 | 209,000 | Atlantic Ocean | Rio Mantaro | South America |
| Congo | 4371 | 4,014,500 | 41,200 | Atlantic Ocean | Lualaba River | Africa |
| Yangtze | 6418 | 1,808,500 | 30,166 | East China Sea | Jianggendiru Glacier | Asia |
| Mississippi | 3730 | 3,202,230 | 16,792 | Gulf of Mexico | Lake Itasca | North America |
| Zambezi | 2574 | 1,331,000 | 3,400 | Indian Ocean | Miombo Woodlands | Africa |
| Mekong | 4023 | 811,000 | 16,000 | South China Sea | Lasagongma Spring | Asia |
| Murray | 2508 | 1,061,469 | 767 | Southern Ocean | Australian Alps | Oceania |
| Rh√¥ne | 813 | 98,000 | 1,710 | Mediterranean Sea | Rh√¥ne Glacier | Europe |
| Cubango | 1056 | 530,000 | 475 | Okavango Delta | Bi√© Plateau | Africa |

##  üìö  <b> Practice 7. </b> 

Use the `plt` module to create a visualization of your radiation data and/or the rivers data. There are examples of plotting functions from our prior exercises. Also, don't be afraid to experiment or try using GitHub CoPilot or ChatGPT to generate some intial code.

##  üìö  <b> Practice 8. </b> 

a. Export your <code>rivers</code> DataFrame to a CSV file in your repository's data folder. 

b. Export your <code>bsrn</code> DataFrame to a CSV file in your repository's data folder.

<hr style="border-top: 1px solid gray; margin-top: 24px; margin-bottom: 1px"></hr>